src/main/resources/xsd/article.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
     
    <xs:element name="Artikel">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="KaDIS-Artikelsteuerung"/>
                <xs:element ref="Verkaufsplattform"/>
                <xs:element ref="supplier_name"/>
                <xs:element ref="active"/>
                <xs:element ref="tax"/>
                <xs:element ref="mainDetail"/>
                <xs:element ref="name"/>
                <xs:element ref="description"/>
                <xs:element ref="descriptionLong"/>
                <xs:element ref="keywords"/>
                <xs:element ref="lastStock"/>
                <xs:element ref="notification"/>
                <xs:element maxOccurs="unbounded" ref="categories"/>
                <xs:element ref="translations"/>
            </xs:sequence>
          
        </xs:complexType>
    </xs:element>
    <xs:element name="KaDIS-Artikelsteuerung" type="xs:NCName"/>
    <xs:element name="Verkaufsplattform" type="xs:NCName"/>
    <xs:element name="supplier_name" type="xs:NCName"/>
    <xs:element name="tax" type="xs:integer"/>
    <xs:element name="mainDetail">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="number"/>
                <xs:element maxOccurs="unbounded" ref="prices"/>
                <xs:element ref="supplierNumber"/>
                <xs:element ref="kind"/>
                <xs:element ref="active"/>
                <xs:element ref="inStock"/>
                <xs:element ref="stockMin"/>
                <xs:element ref="weight"/>
                <xs:element ref="width"/>
                <xs:element ref="len"/>
                <xs:element ref="height"/>
                <xs:element ref="position"/>
                <xs:element ref="minPurchase"/>
                <xs:element ref="maxPurchase"/>
                <xs:element ref="purchaseUnit"/>
                <xs:element ref="referenceUnit"/>
                <xs:element ref="unit"/>
                <xs:element ref="packUnit"/>
                <xs:element ref="shippingFree"/>
                <xs:element ref="shippingTime"/>
                <xs:element ref="attribute"/>
                <xs:element ref="ImageAttribute"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="number" type="xs:integer"/>
    <xs:element name="prices">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element ref="customerGroupKey"/>
                <xs:element ref="price"/>
                <xs:element ref="pseudoPrice"/>
                <xs:element ref="basePrice"/>
                <xs:element ref="from"/>
                <xs:element ref="to"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="customerGroupKey" type="xs:NCName"/>
    <xs:element name="price" type="xs:decimal"/>
    <xs:element name="pseudoPrice" type="xs:integer"/>
    <xs:element name="basePrice" type="xs:integer"/>
    <xs:element name="from" type="xs:integer"/>
    <xs:element name="to" type="xs:NCName"/>
    <xs:element name="supplierNumber" type="xs:integer"/>
    <xs:element name="kind" type="xs:integer"/>
    <xs:element name="inStock" type="xs:integer"/>
    <xs:element name="stockMin" type="xs:integer"/>
    <xs:element name="weight" type="xs:decimal"/>
    <xs:element name="width" type="xs:decimal"/>
    <xs:element name="len" type="xs:decimal"/>
    <xs:element name="height" type="xs:decimal"/>
    <xs:element name="position" type="xs:integer"/>
    <xs:element name="minPurchase" type="xs:integer"/>
    <xs:element name="maxPurchase" type="xs:integer"/>
    <xs:element name="purchaseUnit" type="xs:decimal"/>
    <xs:element name="referenceUnit" type="xs:decimal"/>
    <xs:element name="packUnit" type="xs:NCName"/>
    <xs:element name="shippingFree" type="xs:boolean"/>
    <xs:element name="shippingTime" type="xs:integer"/>
    <xs:element name="attribute">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="lighthouseAltOrdernumber"/>
                <xs:element ref="lighthouseCoolDeliveryArticle"/>
                <xs:element ref="lighthouseArticleDeposit"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="lighthouseAltOrdernumber" type="xs:integer"/>
    <xs:element name="lighthouseCoolDeliveryArticle" type="xs:boolean"/>
    <xs:element name="lighthouseArticleDeposit" type="xs:integer"/>
    <xs:element name="ImageAttribute">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Image"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Image">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="KadisImageName"/>
                <xs:element ref="ShopImageName"/>
           
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="KadisImageName" type="xs:NMTOKEN"/>
    <xs:element name="ShopImageName" type="xs:NMTOKEN"/>
    <xs:element name="ShopImageTitle">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lastStock" type="xs:integer"/>
    <xs:element name="notification" type="xs:integer"/>
    <xs:element name="categories">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="id" type="xs:integer"/>
    <xs:element name="translations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Englisch"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Englisch">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="description"/>
                <xs:element ref="descriptionLong"/>
                <xs:element ref="keywords"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="active" type="xs:integer"/>
    <xs:element name="unit">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="name"/>
                <xs:element ref="unit"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="description" type="xs:string"/>
    <xs:element name="descriptionLong" type="xs:string"/>
    <xs:element name="keywords" type="xs:string"/>
</xs:schema>
